<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363410852678-f63f23jqv5glva30hv1f6k0v755qjl6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363410852678-f63f23jqv5glva30hv1f6k0v755qjl6h</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9Y4CmpmxroA_vGRayt2zdtRRnbG5_do</string>
	<key>GCM_SENDER_ID</key>
	<string>363410852678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mountainCounseling.counselorAssistant</string>
	<key>PROJECT_ID</key>
	<string>trojancounselorassistant</string>
	<key>STORAGE_BUCKET</key>
	<string>trojancounselorassistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363410852678:ios:3b0120e736705fb577b347</string>
</dict>
</plist>