<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>counselor_assistant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CB4866B26F8EE1000A4D469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB4868126F8EE1000A4D469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB4868C26F8EE1100A4D469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
